@model BuyOnline.ViewModels.ProductFormViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Edit @Model.Name</h2>

<div class="form-group">
    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name, new { @class = "form-control js-name" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Price)
    @Html.TextBoxFor(m => m.Price, new { @class = "form-control js-price" })
</div>
@*<div class="form-group">
        <label for="exampleInputFile">Upload Photo</label>
        <input type="file" id="exampleInputFile">
        <p class="help-block">Example block-level help text here.</p>
    </div>*@
<div class="form-group">
    @Html.LabelFor(m => m.Description)
    @Html.TextAreaFor(m => m.Description, new { @class = "form-control js-description" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Category)
    @Html.DropDownListFor(m => m.Category, new SelectList(Model.Categories, "Id", "Name"), "", new { @class = "form-control js-category" })
</div>

<button type="submit" class="btn btn-primary js-edit-product" data-product-id="@Model.Id">Update</button>
<button type="submit" class="btn btn-danger js-remove-product" data-product-id="@Model.Id">Remove</button>

@section scripts
{
    <script>
        $(document).ready(function () {

            $(".js-edit-product").click(function (e) {

                var btnSource = $(e.target);

                $.post("/api/product/" + btnSource.attr("data-product-id"),
                    {
                        Name: $(".js-name").val(),
                        Price: $(".js-price").val(),
                        Description: $(".js-description").val(),
                        Category: $(".js-category").find(":selected").attr("value")
                    })
                    .done(function () {
                        alert("DONE!");
                    })
                    .fail(function () {
                        alert("FAILED!");
                    });
            });

            $(".js-remove-product").click(function (e) {

                var btnSource = $(e.target);

                bootbox.dialog({
                    message: "Are you sure you want to delete this product?",
                    title: "Confirm",
                    buttons: {
                        no: {
                            label: "No",
                            className: "btn-default",
                            callback: function () {
                                bootbox.hideAll();
                            }
                        },
                        yes: {
                            label: "Yes",
                            className: "btn-danger",
                            callback: function () {
                                $.ajax({
                                    url: "/api/product/" + btnSource.attr("data-product-id"),
                                        method: "DELETE"
                                    })
                                    .done(function () {
                                        alert("DONE!");
                                    })
                                    .fail(function () {
                                        alert("Something failed!");
                                    });
                            }
                        }
                    }
                });
            });
        });
    </script>
}

